In [25]:
# Importing the necessary libraries
import pandas as pd
import numpy as np

In [26]:
# Load the dataset
dataset=pd.read_csv("pima-indians-diabetes.csv")

In [27]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [28]:
# Identify missing data (assumes that missing data is represented as NaN)
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [34]:
# Print the number of missing entries in each column
print(dataset.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [30]:
# Configure an instance of the SimpleImputer class
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [31]:
# Fit the imputer on the DataFrame
imputer.fit(x[:,0:-1])

SimpleImputer()

In [32]:
# Apply the transform to the DataFramef
x[:,0:-1]=imputer.transform(x[:,0:-1])

In [33]:
#Print your updated matrix of features
print(x)

[[  6.    148.     72.    ...  33.6     0.627  50.   ]
 [  1.     85.     66.    ...  26.6     0.351  31.   ]
 [  8.    183.     64.    ...  23.3     0.672  32.   ]
 ...
 [  5.    121.     72.    ...  26.2     0.245  30.   ]
 [  1.    126.     60.    ...  30.1     0.349  47.   ]
 [  1.     93.     70.    ...  30.4     0.315  23.   ]]