In [45]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [46]:
data=pd.read_csv("../Dataset/Advertising.csv")
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [47]:
data.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [48]:
data=data.drop(['Unnamed: 0'],axis=1)

In [49]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [50]:
data.shape

(200, 4)

In [51]:
x=data[['TV','Radio','Newspaper']]
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [52]:
y=data[['Sales']]
y.head()

   Sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [53]:
type(y)

pandas.core.frame.DataFrame

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)

In [55]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [56]:
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [57]:
#identify the intercept anf coefficient
# i.e, y=mx+cb

In [58]:
print(linreg.intercept_) # c
print(linreg.coef_) # m1,m2,m3.....

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [59]:
list(zip(x,linreg.coef_))

[('TV', array([0.04656457, 0.17915812, 0.00345046]))]

In [60]:
#prediction

In [61]:
y_predict=linreg.predict(x_test)

In [62]:
#print the root mean square value for sales data

In [63]:
np.sqrt(metrics.mean_squared_error(y_test,y_predict))

1.404651423032895

In [64]:
features=['TV','Radio']
x=data[features]
y=data.Sales

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1)

linreg.fit(x_train,y_train)

y_pred=linreg.predict(x_test)

print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.3879034699382886